*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
    );
    height: 100vh;
    display: flex;
    font-family: 'Inter', sans-serif;
}